<div style="display: none;">
  <p>Redirecting...</p>
</div>

<script>
  // If already logged in, redirect to home
  if (localStorage.getItem('authToken')) {
    window.location.href = '/home';
  } else {
    window.location.href = '/login';
  }
</script>
